@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@300&display=swap');

#content {
 max-width: 1600px;
 margin: 0 auto;
}
nav a {
    text-align: center;
    color:#0C3D45;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 726px
}
body {
    background-color:#E7E4EC ;
    font-family: 'Montserrat', 'Helvetica', 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#5AA7AD ;
    color: #0C3D45;
}
nav a:hover {
    background-color:#E7E4EC ;
}
.book, .join {
    background-color:#E7E4EC ;
    color:#0C3D45;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:#5AA7AD ;
}
#background {
    background-color:#5AA7AD ;
}
.msg {
    background-color:#5AA7AD ;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color:#5AA7AD ;
    color:#0C3D45;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color:#0C3D45;
    font-family: 'bungee','Helvetica', 'sans-serif';
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #0C3D45;
}
.msg h2 {
    color:#0C3D45;
    font-family: 'bungee','Helvetica', 'sans-serif';
}
.msg p {
    color:#0C3D45;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color:#0C3D45;
    text-decoration: none;
}
footer a:hover {
    color:#0C3D45;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px  0;
}
.card-img {
    border: 10px solid #724647;
}
main section img {
    box-sizing: border-box;
}