img {
display: block;
margin: 0 auto;
max-width: 170px;
}

body {
    max-width: 350px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    background-color: rgb(350, 168, 205);
}

h1, h5, h4 {
    color: white;
}


.red {
    text-align: left;
    font-weight: bold;
}

h1:hover{
    color:black
}

h2 {
    max-width: 270px;
    margin: 0 auto;
    color: white;
    font-size: 30px;
}