* {
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(90px, auto);
    grid-gap: 20px;
}
.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.two {
    grid-column: 3;
    grid-row: 1 / 3;
}
.three {
    grid-column: 2 / 4;
    grid-row: 3;
}
.four {
    grid-column: 1;
    grid-row: 2 / 4;
}