.grid-yo {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    text-align: center;
    background-color: gray;
    padding: 10px;
    grid-gap: 5px;
}
.child {
    padding: 10px;
    background-color: pink;
    
}
.top {
    background-color: blue;
    grid-row: 1/2;
}