.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body {
    background-color: white;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}